.card {
  background-color: #EBE3D5;
  border-color: transparent;
}

.card-title {
  color: #776B5D;
  font-size: x-large !important;
}

.button {
  background-color: transparent !important;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}
