#email,
#email:focus,
#email::placeholder,
#password,
#password:focus,
#password::placeholder,
#gender,
#userName,
#userName:focus,
#userName::placeholder {
  background-color: #f1efef;
  font-weight: bold;
  color: #776b5d;
  padding-left: 1rem;
  font-size: larger;
}

.btn {
  background-color: #776b5d;
  color: #f1efef;
}

.btn:hover {
  background-color: #f1efef;
  color: #776b5d;
}

.login-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: none;
  cursor: pointer;
  color: #776b5d;
}

.form p,
.form h6,
.gender-label {
  color: #776b5d;
  font-size: large;
}

.form h6,
.gender-label {
  font-weight: bold;
  background-color: transparent !important;
}

.gender,
.age {
  background-color: #f1efef;
  color: #776b5d;
  padding-left: 1rem;
  border-radius: 2rem;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
