.card {
  background-color: #EBE3D5;
  border-color: transparent;
}

.card-title {
  color: #776B5D;
  font-size: x-large !important;
}

.friend-card {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.friend-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}