.sidebar {
  background-color: #f3eeea !important;
}

.list-group-item {
  background-color: #f3eeea !important;
  border-color: transparent !important;
  border-style: solid !important;
  color: #776B5D !important;
  font-size: x-large !important;
}

.list-group-item:hover, .active {
  background-color: #ebe3d5 !important;
}
